.content-hero {
  background: url('../images/art-tools.jpg') no-repeat center -100px;
  background-size: cover;
  margin: 0 -7rem 5rem;
  padding: 6rem 3rem 10rem 7rem;

  h2 {
    color: #003594;
    margin-bottom: 2.5rem;
    font-size: 4rem;
    line-height: 1;
    max-width: 40%;
  }

  p {
    max-width: 40%;
  }

  p.first::first-line {
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
  }
}
