{#
 # Variables:
 # - art_with_text__image
 # - art_with_text__content
 #}

{% set art_with_text__base_class = art_with_text__base_class|default('art-right') %}

<div {{ bem(art_with_text__base_class) }}>
  {% if art_with_text__image__present %}
    {% include "@atoms/images/image/responsive-image.twig" with {
      output_image_tag: TRUE,
      image_src: art_with_text__image,
    } %}
  {% endif %}
  {# We use raw to accommodate Drupal's wysiwyg #}
  {{ art_with_text__content|raw }}
</div>
