// Define colors specific to this property.
$wa_colors: (
  'wa-blue': #3498db,
);

// Merge the $wa_colors into the $color map from the global styles so that we
// can access all of the colors through the `color` function.
$color: map-merge($color, $wa_colors);

// Styles for the Component Library
.sg-colors {
  &__color {
    @each $name, $value in $color {
      &--#{$name} {
        background-color: $value;
      }
    }
  }
}
