.art-grid {
  display: grid;
  grid-template-columns: 1fr 14fr;
  grid-gap: 2rem;

  &__title {
    color: #003594;
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-transform: uppercase;
    font-size: 5rem;
  }
}

.art-grid__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
}

.art-grid__grid-item {
  border-radius: 5px;
  min-height: 300px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  position: relative;

  &::after {
    content: '';
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 5px;
  }

  &:nth-child(4n + 1) {
    grid-column: 1 / 4;
  }

  &:nth-child(4n + 2) {
    grid-column: 4 / -1;
  }

  &:nth-child(4n + 3) {
    grid-column: 1 / 3;
  }

  &:nth-child(4n + 4) {
    grid-column: 3 / -1;
  }

  h2 {
    margin-bottom: 0;
    font-family: 'PT Serif', serif;
    color: white;
    font-size: 5rem;
    line-height: 1;
    text-align: center;
    z-index: 1;

    span {
      font-size: 1.6rem;
      display: block;
      line-height: 1;
      font-family: 'Inter', sans-serif;
      margin-top: 1rem;
    }
  }
}
