.right-art {
  padding-left: 7rem;
  font-size: 1.4rem;
  line-height: 2;
  margin-bottom: 4rem;
}

.left-art {
  clear: both;
  padding-right: 25rem;
  line-height: 2;

  img {
    float: right;
    margin-left: 2rem;
    margin-right: -17rem;
    max-width: 600px;
    margin-top: 8rem;
    shape-outside: padding-box;
    padding: 1rem;
  }
}

.scratch-off-gallery {
  clear: both;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;

  &__item {
    overflow: hidden;
    min-height: 300px;
  }
}

.scratch-off-gallery__item > div {
  position: relative;

  img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  canvas {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
